<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47844333298-a3a3dmmgmv0kk5hmhll88ljjo9sba8fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47844333298-a3a3dmmgmv0kk5hmhll88ljjo9sba8fr</string>
	<key>API_KEY</key>
	<string>AIzaSyAgHp0bOOm_bDDdCFY2Mbghg8Yvn6rbx6E</string>
	<key>GCM_SENDER_ID</key>
	<string>47844333298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alan.Ping</string>
	<key>PROJECT_ID</key>
	<string>ping-fc2c2</string>
	<key>STORAGE_BUCKET</key>
	<string>ping-fc2c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47844333298:ios:8cd34e06160b9777ad226b</string>
	<key>DATABASE_URL</key>
	<string>https://ping-fc2c2.firebaseio.com</string>
</dict>
</plist>